@import '/src/constants/_colors.scss';
@import '/src/constants/_fonts.scss';


.card__wrap{
  width: 266px;

  .card__img{
    width: 100%;
    height: 357px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    & img{
      min-width: 100%;
      height: 380px;
    }

    .card__rating{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 37px;
      background-color: $_GREEN;
      border-radius: 6px;
      font-weight: 600;
      font-size: $_16px;
      text-align: center;
      padding: 4px 8px;

      &_yellow {
        background-color: $_YELLOW;
      }

      &_orange {
        background-color: $_ORANGE;
      }
    }
  }
  
  .card__discription{
    display: flex;
    flex-direction: column;
    
    .card__title{
      font-weight: 700;
      font-size: $_16px;
      margin-bottom: 6px;
    }

    .card__genre *{
      font-weight: 500;
      font-size: $_16px;
      color: $_LIGHT;
    }
  }
}