@import 'src/constants/_colors.scss';
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Exo 2', 'sans-serif';
  color: $_WHITE;
}

body{
  background-color: $_BLACK;
}

.container{
  max-width: 1796px;
  padding: 0 62px;
  margin: auto;
}