//SYSTEM COLORS//
$_PRIMARY: #7B61FF;
$_PRIMARY2: #917CFF;
$_SECONDARY: #80858B;

//BACKGROUND COLORS//
$_BLACK: #000000;
$_DARK: #242426;
$_GRAPHITE: #323537;

//CONTEXTUAL COLORS//
$_ERROR: #FF5154;
$_LIGHT: #AFB2B6;
$_WHITE: #FFFFFF;

//TERTIARY COLORS//
$_GREEN: #00A340;
$_YELLOW: #F3A608;
$_ORANGE: #F45D2D;