//FONT FAMILY//
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap'); //Exo 2

//FONT SIZE//
$_40px: 2.5rem;
$_32px: 2rem;
$_28px: 1.75rem;
$_24px: 1.5rem;
$_20px: 1.25rem;
$_18px: 1.125rem;
$_16px: 1rem;